
<nav class="navbar-expand-lg bg-light">
    <ul class="nav">
        {{#if isLogin}}      
            <li class="nav-item">
                <a class="nav-link" href="/"> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users List</a>
            </li>

        {{/if}}
    </ul>
    <ul class="nav justify-content-end">
        {{#if isLogin}}      
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        {{else}}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
        {{/if}}
    </ul>
</nav>